<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%t] %d{yyyy-MM-dd HH:mm:ss} %-5p %-35.35c{1} -&#9; %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>